body{
    font-family:'Open-sans', sans-serif;
    font-size:17px;
    line-height:1.5em;
    margin:0;
    padding:0;
  }

img{
    width:100%;
  }

.container{
    margin:auto;
  }

  /* COMPANY */
#company{
    background:#333;
    color:#fff;
    padding:10px 0;
  }
  
  #company h4{
    text-transform:uppercase;
    margin-bottom:0;
  }
  
  #company ul{
    padding:0;
    list-style:none;
    line-height:2em;
  }
  
  #company input[type="text"]{
    padding:7px;
  }
  
  #company button{
    background:#222;
    color:#fff;
    padding:10px;
    border:0;
  }