body{
    font-family:'Open-sans', sans-serif;
    font-size:17px;
    line-height:1.5em;
    margin:0;
    padding:0;
  }

img{
    width:100%;
  }

.container{
    margin:auto;
  }

  /* MEDIA QUERIES */
@media(max-width:800px){
    #showcase h1{
      font-size:30px;
    }
  }
  
  @media(max-width:500px){
    #showcase .showcase-content{
      padding:40px 10px;
    }
  }